extends layout

block content
  div.content-container
    div.title-container
      h1 Befolkningskart
      p Agder Fylke Befolkning

    div.map-container
      div#map

    div.info-container
      h3 Om dette kartet:
      p Dette kartet viser befolkningstetthet i grunnkrets.
      ul.density-list
        li.density-item
          span.density-indicator(style="background-color: #BD0026;")
          | Veldig høy tetthet (1000+ mennesker)
        li.density-item
          span.density-indicator(style="background-color: #FC4E2A;")
          | Høy tetthet (500-1000 mennesker)
        li.density-item
          span.density-indicator(style="background-color: #FD8D3C;")
          | Medium tetthet (100-500 mennesker)
        li.density-item
          span.density-indicator(style="background-color: #FEB24C;")
          | Liten tetthet (10-100 mennesker)
        li.density-item
          span.density-indicator(style="background-color: #FFEDA0;")
          | Veldig liten tetthet (0–10 mennesker)
        div.prediction-container
      h3 Population Prediction
      div.prediction-form
        div.input-group
          label(for="prediction-year") Prediction Year:
          input#prediction-year(type="number", min="2025", max="2050", value="2030", step="1")
        
        button#run-prediction-btn.prediction-button Run Prediction
      
      div#prediction-results.prediction-results(style="display: none;")
        h4 Prediction Results
        div.results-header Selected Area:
          span#selected-area-name &nbsp;
        
        div.results-content
          div.result-item
            span.result-label Current Population (2024):
            span#current-population.result-value -
          
          div.result-item
            span.result-label Predicted Population:
            span#predicted-population.result-value -
          
          div.result-item
            span.result-label Population Change:
            span#population-change.result-value -
          
          div.result-item
            span.result-label Growth Rate:
            span#growth-rate.result-value -

        div.population-link-container
          a.population-link(href="/")
            span.back-arrow ←
            | Tilbake til hovedside

  script.
    window.populationData = !{populationData};

  script(
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
  )
  script(src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.8.0/proj4.js")
  script(src="/js/population.js")
  script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.18.0/dist/tf.min.js")
  script(src="/js/prediction.js")
